/* body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
} */

h1 {
    border: solid rgb(255, 136, 0) 3px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

h2 {
    text-decoration: underline;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: 400;
    font-variant: small-caps;
    color: #05b68f;
}

blockquote {
    font-style: italic;
    font-weight: bold;
    font-size: smaller;
    color: rgb(89, 97, 170);
}

#py {
    color: #22a358;
}

/* .c1 {
    text-decoration: underline wavy;
    color: blueviolet;
} */

a {
    text-decoration: none;
    padding: 10px;
}

a:link {
    color: #22a358;
}

a:visited {
    color: #410649;
}

a:hover {
    color: #0a830a;
}

a:active {
    color: #165716;
}

#github {
    text-decoration: solid red;
}